{% extends "movies/base.html" %}
{% block head %}
Test the Google Map
{% endblock %}
{% block style %}
<style type="text/css">
html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
{% endblock %}
{% load staticfiles %}
{% block body %}
<div id="map-canvas"></div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq0cTHG8aKJfQz_BmOXy6290UD99vHr1w"></script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

