.center {
    margin-left: auto;
    margin-right: auto;
    width: 700px
}

body {
	background: url("images/background.jpg");
}

.margin {
	margin-top: 15px;
}

#map-canvas {
	height: 90%;
	width: 90%;
	margin: 0 auto;
}

div .line {
	display: inline-block;
}

div .line #box {
	width: 500px;
}

div .line #btn {
	width: 100px;
}

h1 {
	font-family: "Times New Roman", Times, serif;
}


